body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.login-form {
  width: 350px;
}

.login-form__label,
.login-form__input,
.login-form__message {
  display: block;
  margin-bottom: 10px;
}

.login-form__message {
  font-size: 14px;
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}

.error-message {
  width: 200px;
  height: 100px;
  background-color: rgb(162, 162, 162);
  margin: 100px auto;
}

.main {
  width: 100vw;
  height: 100vh;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer__school,
.footer__author {
  display: flex;
  gap: 10px;
}

.footer__logo {
  background-image: url(./assets/rs-logo-NlzdOV4A.webp);
}

.user-list {
  overflow: auto;
}

.active-users,
.inactive-users {
  list-style-type: none;
}

.active-users li::before,
.inactive-users li::before {
  content: '●';
  padding-right: 10px;
}

.active-users li::before {
  color: green;
}

.inactive-users li::before {
  color: red;
}

.main__middle {
  display: flex;
  height: 80%;
}

.msg-window {
  display: grid;
  grid-template-rows: 30px 1fr 30px;
  width: 80%;
  text-align: center;
}

.msg-history {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.dividing-line {
  height: 2px;
  background-color: black;
  margin-bottom: 10px;
}

.msg-item {
  width: 50%;
  background-color: #c2bdbd;
  padding: 10px;
  position: relative;
}

.new {
  margin-top: 20px;
}

.new::before {
  content: 'New messages';
  display: block;
  height: 2px;
  width: 200%;
  background-color: black;
  position: absolute;
  top: -20px;
  left: 0;
}

.msg-title {
  display: flex;
  justify-content: space-between;
  background-color: grey;
}

.msg-text {
  word-break: break-all;
}

.left {
  align-self: start;
}

.right {
  align-self: end;
}

.msg-status {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.message-modal {
  position: absolute;
  background-color: #efeaea;
  padding: 10px 20px;
  text-align: left;
  top: 5px;
}

.edit-button,
.delete-button {
  padding: 0 5px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: white;
  cursor: pointer;
}
